.admin-panel {
    @include flexbox;
    @include flex-direction(row);
    position: relative;
    height: 100vh;
    min-height: 100vh;
    background-color: gray(100);
    
    .admin-panel__page {
        position: relative;
        width: 100%;
    }
}

.admin-login {
    position: relative;
    height: 100vh;
    background-color: gray(0);

    .admin-login__container {
        height: 100%;
    }
    
    .admin-login__banner {
        position: relative;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(gray(1800), 0.7);
        }
    }

    .admin-login__content {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        position: relative;
        width: 90%;
        max-width: 480px;
        margin: 0 auto;
        height: 100%;
    }
    
    .admin-login__heading {
        margin-bottom: spacing(base);
    }
}