.admin-panel {
    position: relative;
    height: 100vh;
    background-color: gray(0);

    .admin-panel__container {
        height: 100%;
    }

    .admin-panel__content {
        position: relative;
        height: 100%;
        width: 50%;
        margin: 0 auto; 
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
    }
    
    .admin-panel__heading {
        margin-bottom: spacing(base);
    }
}