.login {
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	height: 100vh;
	background-color: gray(300);

	.login-box {
		@include border-radius(base);
		padding: $spacer;
		width: 678px;
		background-color: primary-color(base);
		color: gray(100);
	}
}
