header {}

.header {
	z-index: 500;

	&.main-header {
		@include fixed {
			top: 0;
			left: 0;
			right: 0;
		}
		background-color: primary-color(base);

		.header__logo {
			color: gray(100);
		}
	}

	&.sub-header {
		@include fixed {
			top: 4em;
			left: 0;
			right: 0;
		}
	}

	.header__block {
		@include flexbox {
			@include align-items(center);
		}
		height: 4em;
	}

}
