header {}

.header {
	@include fixed {
		top: 0;
		left: 0;
		right: 0;
	}

	&.main-header {
		background-color: primary-color(base);


		.header__logo {
			color: gray(100);
		}
	}

	.header__block {
		@include flexbox {
			@include align-items(center);
		}
		height: 4em;
	}

}
