.page-block-group {
	.page-block:first-of-type {
		border-radius: 0;
		border-top-left-radius: border-radius(base);
		border-top-right-radius: border-radius(base);
	}

	.page-block:last-of-type {
		border-radius: 0;
		border-bottom-left-radius: border-radius(base);
		border-bottom-right-radius: border-radius(base);
	}
}

.page-block {
	@include border-radius(base);
	background-color: gray(100);
	min-height: 5em;
	width: 100%;
	overflow: hidden;

	&.page-block--primary {
		background-color: primary-color(base);
		color: gray(100);
	}

	&.page-block--secondary {
		background-color: secondary-color(base);
		color: gray(1700);
	}

	&.page-block--inverse {
		background-color: gray(1700);
		color: gray(100);
	}

	&.page-block--extension {
		border-top: solid 1px gray(300) !important;
	}

	.page-block__container {
		padding: $spacer;
	}

	.page__heading {
		margin-bottom: $spacer * .5;
	}
}
