.sidebar {
	position: sticky;
	top: 10em;
	max-height: calc(100vh - 10em);
	overflow-y: auto;

	&.sidebar--admin {
		@include transition(transform 300ms $transition-primary);
		@include border-radius(base);
		width: 100%;
		background-color: gray(100);
		
		.navigation {
			.navigation__item {
				> a {
					@include transition(all 250ms $transition-primary);
					display: block;
					padding: ($spacer * .5);
					border-bottom: solid 1px gray(200);
					color: gray(400);

					&.is-active {
						@include font-weight(semibold);
						color: gray(1700);
						border-left: solid 5px secondary-color(base);
						background-color: shade(gray(100), 4%) !important;
					}

					&:hover {
						background-color: shade(gray(100), 4%) !important;
					}
				}
			}
		}
	}

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
}
