.badge {
	@include border-radius(border-radius(small));
	padding: 2.5px 5px;

	&.badge--pill {
		@include border-radius(border-radius(rounded-edge));
	}

	&.badge--primary {
		background-color: primary-color(400);
		color: gray(100);
	}

	&.badge--secondary {
		background-color: secondary-color(base);
		color: gray(100);
	}
}
