.button {
	@include transition(all 200ms ease-in-out);
	@include user-select(none);
	white-space: nowrap;
	vertical-align: middle;
	background: none;
	border: none;
	padding: 15px 30px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;

	@each $theme, $color in $theme-colors {
		&.button--#{$theme} {
			background-color: $color;
		}
	}

	/**
	/*	Another kind of button that has transparent background and border.
	/*/
	@each $theme, $color in $theme-colors {
		&.button-outline--#{$theme} {
			background-color: transparent;
			color: $color;
			border: solid 1px $color;

			&:hover {
				background-color: $color;
				color: inherit;
			}
		}
	}

	/**
	/*	A modifier for buttons to make it span over the entire its parent's
	/*	width by adding a block element and full width configuration.
	/*/
	&.button--full {
		display: block;
		width: 100%;
	}



	// @each $ui, $color in $ui-colors {
	// 	&.button--#{$ui} {
	// 		background-color: $color;
	//
	// 		&.button--outline {
	// 			border: solid 1px $color;
	// 			background-color: transparent;
	// 			color: $color;
	//
	// 			&:hover {
	// 				background-color: $color;
	// 				color: gray(100);
	// 			}
	// 		}
	// 	}
	// }

	/**
	 **	Button Modifier
	 */
	 &.button--capitalized {
		 text-transform: uppercase;
		 letter-spacing: 2px;
	 }

	&.button--darkslategray {
		background-color: #3a3835;
		color: #EFEFEF;
	}

	&.button--large {
		padding: 45px 60px;
		font-weight: 600;
		color: $white;
	}
}
