.button {
	@include transition($button__transition);
	font-size: $button__font-size;
	font-weight: $button__font-weight;
	border: $button__border;
	padding: $button__size;
	border-radius: $button__border-radius;
	box-shadow: $button__box-shadow;
	background: none;
	cursor: pointer;

	@each $name, $color in $button__themes {
		&.button--#{$name} {
			background-color: $color;
			color: color-yiq($color);
			border: solid 1px $color;

			&:hover {
				&:not(:disabled) {
					background-color: tint($color, 18%);
				}
			}
		}
	}

	&.button--rounded {
		border-radius: $button--rounded__border-radius;
	}

	&:hover {
		&:not(:disabled) {
			@include transform(translateY(-3px));
			box-shadow: $button--hovered__box-shadow;
		}
	}
	
	&:focus {
		border: solid 1px primary-color(600);
		outline: none;
	}

	&:disabled {
		opacity: $button--disabled__opacity;
		cursor: not-allowed;
	}
}