.button {
	@include transition($button__transition);
	font-size: $button__font-size;
	font-weight: $button__font-weight;
	border: $button__border;
	padding: $button__size;
	border-radius: $button__border-radius;
	box-shadow: $button__box-shadow;
	background: none;
	cursor: pointer;

	/*
	//	BUTTON THEMES
	//	Modifier classes that changes a button component's color theme.
	*/
	@each $name, $color in $button__themes {
		&.button--#{$name} {
			background-color: $color;
			color: color-yiq($color);
			border: solid 1px $color;

			&:hover {
				&:not(:disabled) {
					background-color: tint($color, 18%);
				}
			}
		}
	}

	/*
	//	BUTTON SIZES
	//	Modifier classes that changes the size of a button component.
	*/
	@each $name, $size in $button__sizes {
		
	}

	/*
	//	BUTTON MODIFIERS
	//	Modifier classes that alters the appearance of a button component.
	*/
	&.button--rounded {
		border-radius: $button--rounded__border-radius;
	}

	/*
	//	BUTTON STATES
	//	Pseudo classes of a button component that changes the way a button component
	//	looks based on the form of interaction it received.
	*/
	&:hover {
		&:not(:disabled) {
			@include transform(translateY(-3px));
			box-shadow: $button--hovered__box-shadow;
		}
	}
	
	&:focus {
		border: solid 1px primary-color(600);
		outline: none;
	}

	&:disabled {
		opacity: $button--disabled__opacity;
		cursor: not-allowed;
	}
}