.card-list {

	.card-list__footer {
		position: sticky;
		bottom: 0;
		padding: $spacer * .5;
		background-color: gray(200);
		border-top: solid 1px gray(300);
		width: 100%;
	}
}


/**/
.card {
	@include relative;
	@include border-radius(base);
	@include flexbox;
	@include flex-direction(column);
	min-height: 20em;
	background-color: gray(100);
	box-shadow: map-get($box-shadow, base);
	overflow: hidden;
	// border: solid 1px gray(300);

	.card__container {
		@include flexbox;
		@include flex-direction(column);
		@include flex(1 1 auto);
	}

	.card__heading {
		@include relative;
		text-align: center;
		padding: $spacer * .5;

		.card__title {
			@include font-weight(semibold);
		}

		.card__price {
			@include font-weight(semibold);
			color: primary-color(base);
		}
	}

	.card__image {
		@include relative;
		height: 15em;
		overflow: hidden;

		> img {
			@include image-object(cover, center);
			height: 100%;
			width: 100%;
		}
	}

	.card__body {
		@include flex(1 1 100%);
		min-height: 5em;
		padding: $spacer * .5;
	}

	.card__footer {
		padding: $spacer * .5;
	}
}
