.card-list {

	.card-list__footer {
		position: sticky;
		bottom: 0;
		padding: spacing(base);
		background-color: gray(200);
		border-top: solid 1px gray(300);
		width: 100%;
	}
}


/**/
.card {
	position: relative;
	@include border-radius(base);
	@include flexbox;
	@include flex-direction(column);
	background-color: gray(100);
	box-shadow: map-get($box-shadow, base);
	overflow: hidden;
	min-height: auto;
	border-bottom: solid 10px secondary-color(base);
	padding: spacing(base);

	@each $theme, $color in $theme-colors {
		&.card--#{$theme} {
			background-color: $color;
			color: color-yiq($color);
		}
	}

	.card__container {
		@include flexbox;
		@include flex-direction(column);
		@include flex(1 1 auto);
	}

	.card__heading {
		position: relative;
		padding: spacing(base);

		.card__title {
			font-weight: font-weight(semibold);
		}

		.card__price {
			font-weight: font-weight(semibold);
			color: primary-color(base);
		}
	}

	.card__image {
		position: relative;
		height: 15em;
		overflow: hidden;

		> img {
			@include image-object(cover, center);
			height: 100%;
			width: 100%;
		}
	}

	.card__body {
		@include flex(1 1 100%);
		min-height: 5em;
		padding: spacing(base);
	}

	.card__footer {
		padding: spacing(base);
	}
}
