figure {
	margin: 0;
}

.figure {
	@include relative;
	width: 100%;
	height: 100%;

	&.figure--has-overlay {
		&:after {
			@include absolute {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			background-color: rgba(gray(1700), 0.7);
			content: "";
		}
	}

	> img {
		@include image-object;
		@include absolute;
		height: 100%;
		width: 100%;
	}

}
