form {}

.form {

	&.search-bar {
		box-shadow: map-get($box-shadow, base);
	}

	.form-group {
		@include relative;
		margin-bottom: $spacer * .75;

		.form-label {
			display: block;
			margin-bottom: $spacer * .25;
		}

		&.form-group--row {
			@include flexbox;
			@include flex-direction(row);
			@include align-items(center);

			> .form-label {
				width: calc(100%/3);
				text-align: right;
				padding-right: $spacer * .5;
				margin: 0;
			}

			> .form-control {
				width: 100%;
			}
		}

		// &:last-of-type {
		// 	margin-bottom: $spacer * 1.5;
		// }
	}

	.form-switch {
		@include relative;
		display: block;
		background: none;
		border: none;

		&.form-switch--full {
			width: 100%;
		}

		> .switch-label {
			@include relative;
			@include transition(all 250ms $transition-primary);
			@include border-radius(25px);
			display: block;
			background-color: gray(500);
			width: 60px;
			height: 30px;
			cursor: pointer;

			> .switch-track {
				@include transition(all 250ms $transition-primary);
				@include border-radius(100%);
				height: 20px;
				width: 20px;
				background-color: gray(100);
				@include transform(translate(-50%, -50%));
				@include absolute {
					top: 50%;
					left: 25%;
				}
			}

			&.switch-label--is-checked {
				background-color: primary-color(base);

				> .switch-track {
					left: 75%;
				}
			}
		}
	}

	.form-control {
		@include transition(all 500ms $transition-primary);
		@include border-radius(small);
		display: block;
		width: 100%;
		border: solid 1px gray(300);
		background-color: gray(100);
		font-size: inherit;
		padding: ($spacer * .4);

		&.form-control--large {
			font-size: $font-size-large;
		}

		&:disabled,
		&:read-only {
			background-color: gray(200);
		}

		&:focus {
			border: solid 1px primary-color(base) !important;
		}
	}

	//
	.input-group {
		@include flexbox;
		overflow: hidden;
		width: 100%;

		> * {
			border-radius: 0;
		}

		> *:first-child {
			border: solid 1px gray(300);
			border-top-left-radius: border-radius(base);
			border-bottom-left-radius: border-radius(base);
			border-right: 0;
		}

		> *:last-child {
			border-radius: 0;
			border-top-right-radius: border-radius(base);
			border-bottom-right-radius: border-radius(base);
		}

		.input-addon {
			padding: ($spacer * .4) ($spacer * .5);
			background-color: primary-color(base);
			border: solid 1px primary-color(base);
			color: gray(100);
		}
	}

	select.form-control {
		-webkit-appearance: none;
		appearance: none;
		background-color: gray(100) !important;
		background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
		background-size: 8px 10px;
	}
}
