form {
    @include flexbox {
        flex-direction: column;
    }

    &.form-vertical {
        @include relative;
        width: 100%;

        .form-group {
            margin-bottom: 10px;
            padding: 0 30px;

            input,
            textarea {
                width: 100%;

                &.form-control {
                    padding: 10px;
                    border-radius: 4px;
                    border: 2px solid $aurometalsaurus;
                }

                &.no-border {
                    border: none;
                }
            }

            textarea {
                resize: none;
            }
        }

        .form-button {
            padding: 0 30px;
        }
    }

    &.form-inline {
        @include relative;
        @include flexbox {
            flex-direction: row;
        }
        width: 100%;

        .form-input {
            width: 100%;

            .form-group {
                margin-bottom: 10px;

                input,
                textarea {
                    width: 100%;

                    &.form-control {
                        padding: 10px;
                        border-radius: 4px;
                        border: 2px solid $aurometalsaurus;
                    }
                    &.no-border {
                        border: none;
                    }
                }

                textarea {
                    resize: none;
                }
            }

            .input-group {
                @include flexbox;
                width: 100%;

                .input-group-addon {
                    @include flexbox {
                        align-items: center;
                        justify-content: center;
                    }
                    padding: 10px;
                    background-color: #ddd;
                    border-radius: 4px 0 0 4px;
                    border-top: 2px solid $aurometalsaurus;
                    border-left: 2px solid $aurometalsaurus;
                    border-bottom: 2px solid $aurometalsaurus;
                }

                input {
                    width: 100%;
                    &.form-control {
                        padding: 10px;
                        border-radius: 0px 4px 4px 0px;
                        border-left: none;
                        border-top: 2px solid $aurometalsaurus;
                        border-right: 2px solid $aurometalsaurus;
                        border-bottom: 2px solid $aurometalsaurus;
                    }
                }
            }
        }

        .form-button {
            margin-left: 10px;
            width: 100%;
        }
    }
}
