form {}

.form {

	.form-group {
		@include relative;
		padding-bottom: $spacer * .5;

		.form-control {
			display: block;
			@include border-radius(small);
			width: 100%;
			border: solid 1px gray(300);
			padding: $spacer * .25;


			&:disabled,
			&:read-only {
				background-color: gray(300);
			}
		}
	}
}
