.input,
.textarea,
.select {
    @include transition($input__transition);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: $input__line-height;
    border: $input__border;
    border-radius: $input__border-radius;
    padding: $input__size;
    background-image: none;

    &::placeholder {
        color: gray(300);
    }

    &:hover {
        border: $input--hovered__border;
    }

    &:focus {
        outline: none;
        border: $input--focused__border;
    }

    &:disabled {
        border: $input--disabled__border;
        background-color: gray(100);
        cursor: not-allowed;
    }
}

.input-group {
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);

    .input {
        border-radius: 0;

        &:hover,
        &:focus {
            z-index: 1;
        }
    }

    .input-addon {
        background-color: #158DBC;
        padding: 13px;
        color: gray(100);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    
    .input:first-of-type {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        // border-top-left-radius: 4px;
        // border-bottom-left-radius: 4px;
    }

    .input:last-of-type {
        margin-left: -1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.switch {
    position: relative;
    display: block;
    height: 2rem;
    width: 4rem;

    .switch__checkbox {
        display: none;

        &:checked {
            + .switch__slider {
                @include transition($transition-base);
                background-color: primary-color(600);
                
                &:before {
                    left: 57.5%;
                }
            }
        }
    }

    .switch__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: border-radius(rounded);
        background-color: gray(200);

        &:before {
            @include transition($transition-base);
            content: "";
            position: absolute;
            left: 7.5%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: border-radius(circled);
            height: 1.5rem;
            width: 1.5rem;
            background-color: gray(0);
        }
    }
}

.switch-square {
    position: relative;
    display: block;
    height: 3.5rem;
    width: 6.5rem;

    .switch-square__checkbox {
        display: none;

        &:checked {
            + .switch-square__slider {
                @include transition($transition-base);
                background-color: primary-color(600);
                
                &:before {
                    left: 65.5%;
                    content: "Ya";
                    font-weight: 600;
                }
            }
        }
    }

    .switch-square__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: border-radius(base);
        background-color: gray(200);

        &:before {
            @include transition($transition-base);
            position: absolute;
            left: 7.5%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: border-radius(base);
            content: "Tidak";
            font-weight: 600;
            // height: 1.5rem;
            // width: 1.5rem;
            padding: 5px;
            background-color: gray(0);
        }
    }
}