.input {
    @include transition($input__transition);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: $input__line-height;
    border: $input__border;
    border-radius: $input__border-radius;
    padding: $input__size;
    background-image: none;

    &::placeholder {
        color: gray(300);
    }

    &:hover {
        border: $input--hovered__border;
    }

    &:focus {
        outline: none;
        border: $input--focused__border;
    }

    &:disabled {
        border: $input--disabled__border;
        background-color: gray(100);
        cursor: not-allowed;
    }
}