.input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: $input__line-height;
    border: $input__border;
    border-radius: $input__border-radius;
    padding: $input__size;
    background-image: none;
    @include transition($input__transition);

    &:hover {
        border: solid 1px primary-color(300);
    }

    &:focus {
        outline: none;
        border: solid 1px primary-color(300);
        border-left: solid 5px primary-color(600);
    }

    &:disabled {
        border: solid 1px gray(100);
        background-color: gray(100);
        cursor: not-allowed;
    }


    &::placeholder {
        color: gray(300);
    }
}