.menu {
    position: relative;
    min-height: 100%;
    margin: 5px 0;

    @each $theme, $color in $theme-colors {
        &.menu--#{$theme} {
            background-color: $color;

            .menu__category {
                color: color-yiq($color);
            }

            .menu__item {
                color: shade(color-yiq($color), 50%);

                &:hover {
                    color: color-yiq($color);
                }

                &--is-active {
                    border-right: solid 7px theme-color(secondary);
                    background-color: tint($color, 4%);
                    font-weight: font-weight(semibold);
                    color: color-yiq($color);
                }
            }
        }
    }

    .menu__list {
        
        position: relative; 

    }

    .menu__category {
        // padding: spacing(base);
        padding: 25px 15px 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 80%;
     
    }
    
    .menu__item {
        position: relative;
        @include transition($transition-base);

        > a {
            display: block;
            padding: spacing(small);
            padding-left: spacing(base);
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

