body {
	&.modal-open {
		overflow: hidden !important;
	}
}

.modal {
	@include flexbox;
	@include flex-direction(column);
	@include fixed {
		top: 0;
		left: 0;
	}
	width: 100%;
	height: 100%;
	z-index: 5000;

	.modal-dialog {
		@include absolute {
			top: 50%;
			left: 50%;
		}
		@include transform(translate(-50%, -50%));
		@include border-radius(base);
		width: 65%;
		background-color: gray(100);
		overflow: hidden;
	}

	.modal-content {
		@include flexbox;
		@include flex-direction(column);
		height: 100%;
	}

	&.show {
		@include animation(scaleIn 250ms $transition-primary);
	}

	.modal__header,
	.modal__content,
	.modal__footer {
		padding: $spacer * .5;
	}

	.modal__header {
		border-bottom: solid 1px gray(300);
		background-color: primary(base);
	}

	.modal__content {
		@include flex(1 1 auto);
		overflow-y: scroll;
	}

	.modal__footer {
		// @include justify-content(flex-end);
	}

}

.modal-backdrop {
	@include fixed {
		top: 0;
		left: 0;
	}

	height: 100%;
	width: 100%;
	background-color: rgba(gray(1700), 0.5);
	z-index: 4500;

	&.show {
		@include animation(fadeIn 250ms $transition-primary);
	}
}
