.modal {
	@include flexbox;
	@include flex-direction(column);
	@include fixed {
		top: 50%;
		left: 50%;
	}
	@include transform(translate(-50%, -50%));
	width: 60%;
	height: 70%;
	background-color: gray(100);
	z-index: 5000;

	.modal__header,
	.modal__footer {
		padding: ($spacer * .5);
	}

	.modal__footer {
		@include justify-content(flex-end);
	}

	.modal__content {
		@include flex(1 0 auto);
		padding: 0 ($spacer * .5);
	}
}

.modal-backdrop {
	@include fixed {
		top: 0;
		left: 0;
	}

	height: 100%;
	width: 100%;
	background-color: rgba(gray(1700), 0.5);
	z-index: 4500;
}
