$panel__themes              : $theme-colors;
$panel__background-color    : gray(0);
$panel__spacing             : spacing(large);
$panel__border-radius       : border-radius(base);

.panel {
    @include border-radius(base);
    position: relative;
    background-color: $panel__background-color;
    min-height: 5em;
    padding: $panel__spacing;
    border-radius: $panel__border-radius;

    @each $theme, $color in $panel__themes {
        &.panel--#{$theme} {
            background-color: $color;
            color: color-yiq($color);
        }
    }
}