$panel__themes              : $theme-colors;
$panel__background-color    : gray(0);
$panel__spacing             : spacing(large);
$panel__border-radius       : border-radius(base);
$panel__box-shadow          : 0px 8px 15px rgba(0, 0, 0, 0.025);

.panel {
    @include border-radius(base);
    position: relative;
    background-color: $panel__background-color;
    box-shadow: $panel__box-shadow;
    min-height: 5em;
    border-radius: $panel__border-radius;
    overflow: hidden;

    @each $theme, $color in $panel__themes {
        &.panel--#{$theme} {

            .panel__header {
                background-color: $color;
                color: color-yiq($color);
            }
        }
    }

    .panel__header,
    .panel__body {
        padding: $panel__spacing;
    }
}