.table {
	@include border-radius(base);
	min-width: 100%;
	width: 100%;
	display: block;
	overflow-x: auto;
	background-color: gray(100);

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		height: 7.5px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #555;
	}

	thead {
		border-bottom: solid 5px gray(200);

		th {
			@include font-weight(semibold);
			vertical-align: middle;
			padding: $spacer * .5;
			min-width: 10em;

			&.th--auto {
				min-width: auto;
			}

			&.th--large {
				min-width: 15em;
			}

		}

		&.thead--primary {
			background-color: primary-color(base);
			color: gray(100);
		}
	}

	tbody {
		tr {
			cursor: pointer;
		}

		td {
			vertical-align: middle;
			text-align: center;
			padding: $spacer * .25 $spacer * .5;
		}
	}

	&.table--hoverable {
		tbody {
			tr {
				&:hover {
					background-color: rgba(secondary-color(base), 0.3) !important;
				}
			}
		}
	}

	&.table--striped {
		tbody {
			tr:nth-child(2n+2) {
				background-color: darken(gray(100), 5%);
			}
		}
	}
}
