table {
	&.table {
		@include border-radius(base);
		display: block;
		width: 100%;
		overflow-x: auto;
		background-color: gray(100);


		thead {
			border-bottom: solid 3px gray(300);

			&.thead--primary {
				background-color: primary-color(base);
				color: gray(100);
			}

			th {
				@include font-weight(semibold);
				vertical-align: middle;
				padding: $spacer * .5;
			}
		}

		tbody {

			tr {
				cursor: pointer;
				border-bottom: solid 1px gray(300);

				&:hover {
					background-color: rgba(secondary-color(base), 0.3);
				}
			}

			td {
				vertical-align: middle;
				text-align: center;
				padding: $spacer * .5;
				min-width: 10em;

			}

		}
	}
}
