//-----------------------------------------------------------------------------
//  F O N T   I M P O R T S
//

// @import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Assistant:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	F O N T   F A M I L Y
//

// $font-family-sans-serif	    : 'Hind Siliguri', Helvetica, Arial, sans-serif;
$font-family-sans-serif	    : 'Assistant', Helvetica, Arial, sans-serif;
$font-family-serif		    : 'PT Serif', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace	    : Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-family-text			: $font-family-sans-serif !default;
$font-family-code			: $font-family-monospace !default;

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	F O N T   S I Z E S
//

$font-size-base		: 1rem;
$font-sizes    		: (
	extra-large		: ceil(($font-size-base * 1.75)),
    large			: ceil(($font-size-base * 1.25)),
	base			: $font-size-base,
	small			: ceil(($font-size-base * 0.85)),
	extra-small		: ceil(($font-size-base * 0.75))
) !default;

$headings			: (
	h1				: ($font-size-base * 3.2),
	h2				: ($font-size-base * 2.8),
	h3				: ($font-size-base * 2.2),
	h4				: ($font-size-base * 1.8),
	h5				: ($font-size-base * 1.4),
	h6				: $font-size-base
) !default;

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	F O N T   W E I G H T
//
//  A set of variables and map for customizing the thickness (or weight) of a font. 
//  The availability of font weights depends on the font-family that are being used.
//

$font-weight-base	: 400 !default;
$font-weights: (
	thin: 100,
	extra-light: 200,
	ultra-light: 200,
	light: 300,
	normal: 400,
	book: 400,
	regular: 400,
	medium: 500,
	semi-bold: 600,
	semibold: 600,
	demi-bold: 600,
	bold: 700,
	extra-bold: 800,
	ultra-bold: 900,
	heavy: 900,
	black: 900,
	ultra: 900,
	ultra-black: 900,
	extra-ultra: 900
);

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	L I N E   H E I G H T S
//
//	A set of variables and map for customizing the gap between lines in paragraph.
//

$line-height-base   : 1.5 !default;
$line-heights       : (
    extra-tight     : ($line-height-base - 1),
    tight           : ($line-height-base - 0.5),
    base            : $line-height-base,
    loose           : ($line-height-base + 0.5),
    extra-loose     : ($line-height-base + 1)
) !default;

//--------------------------------------------------------------------------------------------------------

