$input__font-size           : font-size(base);
$input__line-height         : line-height(base);
$input__border              : solid 1px gray(200);
$input__border-radius       : border-radius(base);
$input__size                : .75rem;
$input--hovered__border     : solid 1px primary-color(200);
$input--focused__border     : solid 1px primary-color(600);
$input--disabled__border    : solid 1px gray(200);
$input__transition          : $transition-base;
