//--------------------------------------------------------------------------------------------------------
//	L E T T E R   S P A C I N G
//

$letter-spacing-base	: 2px;
$letter-spacing			: (
	small				: ($letter-spacing-base -,
	base				: $letter-spacing-base,
	large				: 4px
) !default;

//--------------------------------------------------------------------------------------------------------