//------------------------------------------------------------
//
//	##	Typography
//
//------------------------------------------------------------
//	Google Font
//
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700);

//
//	Font Family
//
$font-family-sans-serif				: 'HK Grotesk', Helvetica, Arial, sans-serif;
// $font-family-sans-serif			: 'Circular Std', Helvetica, Arial, sans-serif;
$font-family-sans-serif-secondary	: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-serif					: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace				: Menlo, Monaco, Consolas, 'Courier New', monospace;

//
//	Font Size
//

$font-size-base			: 18px;
$font-size-large		: ceil(($font-size-base * 1.25)) !default;
$font-size-x-large		: ceil(($font-size-base * 1.75)) !default;
$font-size-xx-large		: ceil(($font-size-base * 2.6)) !default;
$font-size-xxx-large	: ceil(($font-size-base * 3.4)) !default;
$font-size-xxxx-large	: ceil(($font-size-base * 6.4)) !default;
$font-size-small		: ceil(($font-size-base * 0.85)) !default;
$font-size-x-small		: ceil(($font-size-base * 0.75)) !default;

$font-sizes: (
	base: $font-size-base,
	large: $font-size-large,
	x-large: $font-size-x-large,
	xx-large: $font-size-xx-large,
	xxx-large: $font-size-xxx-large,
	xxxx-large: $font-size-xxxx-large,
	small: $font-size-small,
	x-small: $font-size-x-small
);

//
//	Font Weight
//
$font-weights: (
	thin: 100,
	extra-light: 200,
	ultra-light: 200,
	light: 300,
	normal: 400,
	book: 400,
	regular: 400,
	medium: 500,
	semi-bold: 600,
	semibold: 600,
	demi-bold: 600,
	bold: 700,
	extra-bold: 800,
	ultra-bold: 900,
	heavy: 900,
	black: 900,
	ultra: 900,
	ultra-black: 900,
	extra-ultra: 900
);

//
//	Headings
//
$h1: $font-size-xxx-large;
$h2: $font-size-xx-large;
$h3: $font-size-x-large;
$h4: $font-size-large;
$h5: $font-size-base;
$h6: $font-size-small;

//
//	Line Height
//
$line-height-base	: 1.75 !default;

//
//	Letter Spacing
//
$letter-spacing-small: 1px;
$letter-spacing-base: 2px;
$letter-spacing-large: 4px;

$letter-spacing: () !default;
$letter-spacing: map-merge((
	small: $letter-spacing-small,
	base: $letter-spacing-base,
	large: $letter-spacing-large
), $letter-spacing);

//---------------------------------------------------------------------
//
//	##	Colors
//
//		Below is the variable defintion of colors which are used in
//		components throughout the project.
//
//---------------------------------------------------------------------
//
//	Gold Color Pallete (Primary Color Pallete)
//
//	The main color used within the project that defines the brand.
//	Used for primary CTA buttons, heading colors, etc.
//

$dark-khaki				: #B2AB6B;	// Lightest
$aztec-gold				: #A8A058;  // Lighter
$metallic-sunburst		: #9E9545;	// Base
$old-moss-green			: #8E863E;	// Darker
$spanish-bistre			: #7E7737;	// Darkest

$color-primary: () !default;
$color-primary: map-merge((
	base: $metallic-sunburst,
	100: $dark-khaki,
	200: $aztec-gold,
	300: $metallic-sunburst,
	400: $old-moss-green,
	500: $spanish-bistre
), $color-primary);

//
//	Blue Color Pallete (Secondary Color)
//
//	A completely contrasting color accent from primary color. Used in different
//	areas where the primary color does not reside.
//
$blueberry			: #4B76F4;
$cornflower-blue	: tint($blueberry, 18%);
$jordy-blue			: tint($blueberry, 32%);
$han-blue			: shade($blueberry, 18%);
$cyan-cobalt-blue	: shade($blueberry, 32%);

$color-secondary: () !default;
$color-secondary: map-merge((
	100: $cornflower-blue,
	200: $jordy-blue,
	base: $blueberry,
	300: $han-blue,
	400: $cyan-cobalt-blue
), $color-secondary);

//
//	Red Color Pallete
//
$old-rose			: #CA817B;	// Lightest shade
$giant-club			: #BB5D56;	// Light shade
$sweet-brown		: #AC3931;	// Base shade
$burnt-umber		: #8D2F29;	// Darker shade
$liver				: #6E2520; 	// Darkest shade

//
//	Grays
//
//	Gray color scheme scales differently than the usual RGB colors.
//	There are two endpoints of which will generate multiple gray
//	colored shades that are used in decorative components such as
//	background, border colors, etc.
//

// $antiflash-white	: #F2F3F3;
// $platinum			: #E8EAEA;
// $silver				: #BBC0C1;
// $spanish-gray		: #8D9799;
// $cadet				: #606D70;
// $charcoal			: #334447;
// $eerie-black		: #051A1E;
// $rich-black			: #030F11;
// $black				: #000000;

$white				: #FFFFFF;
$isabelline			: #EBF2EC;
$gainsboro			: #D9E1DC;
$pastel-gray		: #C7D0CC;
$ash-grey			: #B5BFBC;
$silver-chalice		: #A3AEAC;
$spanish-gray		: #919D9C;
$mummy-tomb			: #7F8C8C;
$aurometalsaurus	: #6D7B7C;
$cadet				: #5B6A6C;
$feldgrau			: #49595C;	// Base Gray
$outer-space		: #425053;
$arsenic			: #3B474A;
$onyx				: #343E41;
$gunmetal			: #2D3538;
$charleston-green	: #1F2326;
$eerie-black		: #181A1D;
$licorice			: #111114;
$smoky-black		: #0A080B;
$black				: #000000;

$grays: () !default;
$grays: map-merge((
	base: $feldgrau,
	white: $white,
	100: $isabelline,
	200: $gainsboro,
	300: $pastel-gray,
	400: $ash-grey,
	500: $silver-chalice,
	600: $spanish-gray,
	700: $mummy-tomb,
	800: $aurometalsaurus,
	900: $cadet,
	1000: $feldgrau,	// Base Gray
	1100: $outer-space,
	1200: $arsenic,
	1300: $onyx,
	1400: $gunmetal,
	1500: $charleston-green,
	1600: $eerie-black,
	1700: $licorice,
	1800: $smoky-black,
	black: $black
), $grays);


//	# Theme Colors
$theme-colors: () !default;
$theme-colors: map-merge((
	"primary": $metallic-sunburst,
	"secondary": $blueberry,
	"success": green,
	"danger": $sweet-brown,
	"warning": yellow,
), $theme-colors);


///--------------------------------------------------------------------
//
//	Spacing
//
//	Controls the default styling of most Bootstrap elements by modifying these
//	variables. Mostly focused on spacing.
//
//---------------------------------------------------------------------
$spacer: 30px !default;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3)
) !default;

//---------------------------------------------------------------------
//
//	##	Containers
//
//	Define the maximum width of container class for different screen
//	sizes.
//
//---------------------------------------------------------------------
$containers: (
	small: 540px,
	medium: 720px,
	large: 960px,
	extra-large: 1140px
) !default;


//---------------------------------------------------------------------
//
//	Media Query Breakpoints
//
//	Sizes used for media queries used throughout the project.
//	Do not use any function to determine the size (for example
//	using em() function), instead use the usual pixels (px) to
//	determine breakpoints.
//
//---------------------------------------------------------------------
$breakpoints: (
	phone: 576px,
	tablet: 768px,
	desktop: 992px,
	large-desktop: 1200px
) !default;


//---------------------------------------------------------------------
//
//	Components
//
//---------------------------------------------------------------------
/*/
/*	Border Radius
/*/
$border-radius: () !default;
$border-radius: map-merge((
	small: 2px,
	base: 4px,
	large: 10px,
	rounded-edge: 20px,
	round: 100%
), $border-radius);

//---------------------------------------------------------------------
//
//	Transitions
//
//---------------------------------------------------------------------
$bouncy					: cubic-bezier(0.2, 0.85, 0.2, 1.1);
$transition-primary		: $bouncy;
