.form {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    
    .form__field {
        position: relative;
        margin-bottom: spacing(base);
    }

    .form__label {
        font-weight: font-weight(semibold);
    }
}