.form {
    position: relative;

    &__label {
        font-weight: font-weight(semibold);
        line-height: 2.5;
    }

    &__control {
        position: relative;
    }
    
    &__field {
        position: relative;
        margin-bottom: spacing(base);

        &:last-of-type {
            margin-bottom: spacing(large)
        }
    }

    
}