.header {
    min-height: 4.5rem;
    height: 4.5rem;
    border-bottom: solid 1px gray(100);
    background-color: gray(0);

    > * {
        color: color-yiq(theme-color(primary)) !important;
    }

    .header__container {
        @extend .container;
        @include flexbox;
        @include flex-direction(row);
        @include justify-content(space-between);
        height: 100%;
        
        &--block {
            @extend .container--block;
        }
    }

    .header__block {
        @include flexbox;
        @include align-items(center);
        @include flex(1 1 100%);
        position: relative;
        height: 100%;
    }

    .header__navigation {
        @include flexbox;
        @include flex-direction(row);

        &--primary {
            background-color: primary-color(600);
        }
    }
}