




//# Main Subheader
header {}

.header {
	z-index: 500;

	&.main-header {
		@include fixed {
			top: 0;
			left: 0;
			right: 0;
		}
		background-color: primary-color(base);
		color: gray(10);

		.main-header__container {
			@include flexbox;
			@include justify-content(space-between);
		}
	}

	&.sub-header {
		@include fixed {
			top: 4em;
			left: 0;
			right: 0;
		}
		height: 4em;
		background-color: gray(1500);
	}

	/**/
	.header-logo {
		@include font-weight(700);
		text-transform: uppercase;
		letter-spacing: letter-spacing(large);
	}

	.header__block {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include relative;
		height: 4em;
	}
}

nav {}

.main-navigation {
	@include relative;
	// background-color: gray(1500);

	.navigation__list {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(center);
	}

	.navigation__item {

		> .navigation__link {
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			height: 4em;
			// padding: 0 ($spacer * .75);
			padding: 0 5px;
			color: secondary-color(500);

			&.is-active {
				@include relative;
				@include font-weight(medium);
				color: secondary-color(300);

				&:before {
					content: "";
					@include absolute {
						bottom: 20%;
						left: 50%;
					}
					@include border-radius(map-get($border-radius, round));
					height: 5px;
					width: 5px;
					background-color: secondary-color(300);
				}
			}

			&:hover {
				color: secondary-color(300);
			}
		}
	}
}

//# Main Sub Header
.main {
	@include flexbox;
	@include flex-direction(column);
	background-color: gray(200);
	min-height: 100vh;
	padding-top: 4em;

	&.main--has-subheader {
		padding-top: 8em;
	}

	&.landing-main {
		@include relative;
		height: 100vh;
	
	}
}

.layout-login {
	@include flexbox;
	@include flex-direction(column);
	background-color: $primary-color-base ;
	min-height: 100vh;
	padding-top: 4em;

	&.main--has-subheader {
		padding-top: 8em;
	}

	&.landing-main {
		@include relative;
		height: 100vh;
	
	}
}

