.layout {
    @include flexbox;
    @include flex-direction(row);
    min-height: 100vh;
    
    .sidebar {
        @include flex(1 0 250px);
        position: relative;
        max-width: 250px;
        width: 250px;
    }

    .page {
        @include flexbox;
        @include flex-direction(column);
        @include flex(1 0 auto);
        position: relative;
        background-color: gray(100);

        .content {
            margin: spacing(base);
            border-radius: border-radius(base);
        }
    }
}