.layout {
    @include flexbox;
    @include flex-direction(row);
    min-height: 100vh;
    overflow-x: hidden;

    
    /* width */
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    .sidebar {
        @include flex(0 0 256px);
        max-width: 256px;
        height: 100%;
        position: fixed;
        overflow-x: auto;

        &:not(.sidebar--customer) {
            background-color: #0f1212;
            min-width: 256px;
            width: 256px;
        }

        &.sidebar--customer {
            min-width: 200px;
            width: 200px;
        }
        
        .sidebar--header {
            position: fixed;
            background-color: #0f1212;
            top: 0;
            left: 0;
            width: 256px;
            z-index: 1;
            padding: 10px;
        }

        .sidebar--footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 256px;
            background-color: #0f1212;
            border-top: 2px solid #FAFAFA;
            padding: spacing(small) spacing(base);
            z-index: 1;
        }

        &.sidebar--customer {
            margin-left: spacing(base);
            padding-bottom: 150px;
        }
    }

    .page {
        @include flex(auto);
        background-color: gray(100);
        margin-left: 255px;

        .content {
            margin: spacing(large);
            border-radius: border-radius(base);
        }
    }
}

