nav {}

.tab-navigation {
	@include relative;
	@include flexbox;

	.navigation__list {
		@include flexbox;
		@include flex-direction(row);
	}
	
	.navigation__item {
		@include flexbox;
		margin-bottom: -1px;
		cursor: pointer;

		.navigation__link {
			// @include transition(all 250ms $transition-primary);
			@include transition(all 250ms $transition-base);
			padding: ($spacing-base * .5) ($spacing-base);
			overflow: hidden;
			border-bottom: none;
			color: gray(700);

			&:hover {
				background-color: gray(300);
			}

			&.is-active {
				@include font-weight(semibold);
				// border-bottom: solid 2px $danger-color-base;
				// border-bottom: solid 7px $danger-color-base;
				// background-color: gray(100);
				background-color:  $primary-color-base ;
				color:white;
				// color: gray(1700);
				margin-top: -3px;

				&:first-of-type {
					border-top-left-radius: border-radius(base);
				}

				&:last-of-type {
					border-top-right-radius: border-radius(base);
				}

			}
		}

	}
}
