@each $spacing, $size in $spacings {
	$spacing-directions: top left bottom right;

	.padding-#{$spacing} {
		padding: $size;
	}
	
	.margin-#{$spacing} {
		margin: $size;
	}

	@each $direction in $spacing-directions {
		.padding-#{$direction}-#{$spacing} {
			padding-#{$direction}: $size;
		}

		.margin-#{$direction}-#{$spacing} {
			margin-#{$direction}: $size;
		}
	}
}
