* {
	@include border-box;
	font-family: $font-family-sans-serif !important;
	line-height: $line-height-base !important;
}

#app {
	@include font-size($font-size-base);
	@include font-weight(light);
	line-height: $line-height-base;
	color: gray(100);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//
.main {
	@include flexbox;
	@include flex-direction(column);
	background-color: gray(200);
	min-height: 100vh;
	padding-top: 4em;

	&.main--has-subheader {
		padding-top: 8em;
	}

	&.landing-main {
		@include relative;
		height: 100vh;

		// .row {
		// 	height: 100%;
		// }
		//
		// .page-block {
		// 	height: 100%;
		// }
	}

	.inner-view {
		.inner-view-footer {
			position: sticky;
			bottom: 0;
			height: 5em;
			left: 0;
			right: 0;
			background-color: gray(200);
			border-top: solid 1px gray(300);
		}
	}
}
