* {
	@include border-box;
	font-family: $font-family-sans-serif !important;
	line-height: $line-height-base !important;
}

#app {
	@include font-size($font-size-base);
	@include font-weight(light);
	line-height: $line-height-base;
	color: gray(100);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//
.main {
	@include flexbox;
	@include flex-direction(column);
	min-height: 100vh;
	background-color: gray(200);
	padding-top: 4em;

	&.main--has-subheader {
		padding-top: 8em;
	}

	.main__container {
		@extend .container;
		background-color: red;
		
	}
}