* {
	font-family: $font-family-text;
	font-size: $font-size-base;
	box-sizing: border-box;
	
	&:after,
	&:before {
		box-sizing: border-box;
	}
}

html,
body {
	font-family: $font-family-text;
	font-size: font-size(base);
	font-weight: font-weight(base);
	line-height: line-height(base);
	-webkit-font-smoothing: antialiased;
}