$link__color			: primary-color(600);
$link--hovered__color	: lighten(primary-color(600), 18%);

//--------------------------------------------------------------------------------------------------------
//	H E A D I N G S
//

@each $heading, $size in $headings {
	.#{$heading},
	#{$heading} {
		font-size: heading($heading);
	}
}

.heading-title {
	font-weight: font-weight(bold);
}

.heading-subtitle {
	font-weight: font-weight(regular);
}

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	F O N T   W E I G H T
//

@each $weight in $font-weights {
	.font-weight-#{$weight} {
		font-weight: font-weight($weight);
	}
}

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	T E X T   M O D I F I E R S
//

@each $align in $text-aligns {
	&.align-#{$align} {
		text-align: $align;
	}
}

@each $transform in $text-transforms {
	&.text-#{$transform} {
		text-transform: $transform;
	}
}

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//	L I N K S	
//

a {
	color: $link__color;
	text-decoration: none;

	&:hover {
		color: $link--hovered__color;
	}
}


//--------------------------------------------------------------------------------------------------------